/* Add your CSS here. This file should */
/* automatically hot reload into the app on save */

.layout {
    display: flex;
    /* border: 2px solid #202936; */
    box-shadow:2px 1px 10px 0.5px rgb(231, 231, 231); 
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    font-family:'Rubik', sans-serif;
    font-weight: 300;
    margin: 20px;
    transition: all .3s ease-in-out;
}

.box1{
    width: 100%;
    /* background-color: rgb(119, 189, 92); */
}

.box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background-color: indianred; */
}

.box3{
    flex-direction: row;
    /* background-color: rgb(92, 126, 189); */
}

.counter{
    /* background-color: rgb(85, 67, 94); */
    width: 10rem;
    padding-right: 2%;
    transition: all .3s ease-in-out;

}
.counter h3{
    font-weight: 300;
}

.counter span{
    font-weight: 400;
}

.searchBar {
    min-width: 200px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
	cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px 50px;
    font-weight: 300;
    font-size: 18px;
}

.searchBar input:focus {
	border-color: #00988f;
}



.readingLayout {
    display: flex;
    flex-direction: row;
}

.readingLayout h2, .status{
    flex:1;
    /* text-align: start; */
    /* background-color: coral; */
    justify-content: center;
    align-self: center;
    font-weight: 300;
}


.title h2{
    font-weight: 500;
}

.bigDisplayNone{
    display: none;
}

@media (max-width: 1000px) {
    .layout{
        font-size: 12px;
    }

}

@media (max-width: 700px) {
    .layout{
        font-size: 10px;
    }

    .searchBar {
        width: 100px;
        font-size: 13px;
    }


}

@media (max-width: 600px) {
    .layout{
        font-size: 9px;
    }

    .searchBar {
        font-size: 13px;
    }

   
    .smallDisplayNone{
        display: none;
    }

    .bigDisplayNone{
        display: unset;
    }

    .readingLayout h2, .status{
        width:30%;
    }

    .box2{
        flex-direction: column;
    }

    .counter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

}